* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

:root {
  --primary: #0070f3;
  --secondary: #f9f9f9;
  --text: #333;
  --header-text: white;
  --hover-bg: #e6f0ff;
  --border-color: #ddd;
}
